:root {
    --primary-1000: #269445;
    --primary-900: #2db253;
    --primary-800: #38cc62;
    --primary-700: #56d37a;
    --primary-600: #74db91;
    --primary-500: #92e3a9;
    --primary-400: #b8ecc7;
    --primary-300: #c8f1d4;
    --primary-200: #def6e5;
    --primary-100: #e9f9ed;
    --primary-50: #eefaf2;
    --primary-25: #f4fcf6;

    --anti-primary-800: #ffb60a;
    --anti-primary-700: #ffc847;
    --anti-primary-600: #ffce5c;
    --anti-primary-500: #ffda85;
    --anti-primary-400: #ffe099;
    --anti-primary-200: #ffe7ad;
    --anti-primary-100: #ffedc2;
    --anti-primary-50: #fff9eb;
    --anti-primary-25: #fffcf5;

    --text-color: #1a303a;
}
